@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	margin:0;
	

}

/* Clearing floats */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
    
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
    
}

.menu,
.submenu1 {
  margin: 0;
  padding: 0;
  list-style: none;
    
}

.menu,
.submenu2 {
  margin: 0;
  padding: 0;
  list-style: none;
    
}

/* Main level */
.menu {			
  margin: 50px auto;
  width: 800px;
  /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin-top:-14%;
  margin-left:560px;
}

.menu > li {
  background: #34495e;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}		

.menu li:hover {
  background: #e74c3c;
}		

.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}


/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						

.submenu > li > a {
  padding: 1em 2em;			
}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Dropdown 2*/

.submenu1 {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu1 li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						

.submenu1 > li > a {
  padding: 1em 2em;			
}

.submenu1 > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}	

/* Dropdown 3 */

.submenu2 {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu2 li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						

.submenu2 > li > a {
  padding: 1em 2em;			
}

.submenu2 > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}	

/* Odd stuff 3 */

.submenu2 > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu2 > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu2 > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu2 > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu2 > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu2 > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}
	


/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* odd stuff 2 */

.submenu1 > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu1 > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu1 > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu1 > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu1 > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu1 > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}


/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;			
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

/* Show dropdown 2 */

.submenu1,
.submenu1 li {
  opacity: 0;
  visibility: hidden;			
}

.submenu1 li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu1,
.menu > li:hover .submenu1 li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu1 li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu1 li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

/* Show dropdown 3 */

.submenu2,
.submenu2 li {
  opacity: 0;
  visibility: hidden;			
}

.submenu2 li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu2,
.menu > li:hover .submenu2 li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu2 li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu2 li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

#Storbox{
	width:100%;
	height:100%;
	position:absolute;
	background-image:url(patriots-touchdown.gif);
	background-size:100% 100%;
			
	
}


header{
	width:100%;
	height:30%;
}
.Huvudmeny {
	width:100%;
	height:100%;
}

.Huvudmeny img{
	width:100%;
	height:35%;
}


.PatriotsFramförGIF img{
	width:48%;
	height:50%;
	position:absolute;
	margin-left:29%;
	margin-top:-18.2%;
	float:none;
}


	
.HeaderNFL img{
	width:7%;
	height:10%;
	position:absolute;
	margin-left:90%;
	margin-top:-15.3%;
	
	
}

.HeaderPATRIOTS img{
	width:10%;
	height:8,5%;
	position:absolute;
	margin-left:5%;
	margin-top:-15%;
	
}

*{
  margin:0;
  padding:0;
}

.mobile-menu {
  display:block;
  width:100%;
background: #8aa8bd/*e0b88f/*c99393/*e5d1a4/*dcc591/*EFD3A3*/;
line-height: 1.6em;
font-weight: 400;
width:100%;
text-align:center;
	position: relative;
  margin:0 auto;
}
/*Strip the ul of padding and list styling*/
.mobile-menu ul {
	list-style-type:none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width:100%;
  position: absolute;
  background: #8aa8bd;
}

/*Create a horizontal list with spacing*/
.mobile-menu li {
	display:inline-block;
	/*float: left;
	margin-right: 1px;*/
}

/*Style for menu links*/
.mobile-menu li a {
	display:block;
	min-width:140px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
  text-transform:uppercase;
	background: #8aa8bd;
	text-decoration: none;
  margin-left:-5px;
  padding: 10px 0;  
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}

/*Hover state for top level links*/
.mobile-menu li:hover a {
	color: #4db3ff;
  background-color:#ccddee;
}

/*Style for dropdown links*/
.mobile-menu li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
.mobile-menu li:hover .mobile-menu ul a:hover {
	color: #4db3ff;
}

/*Hide dropdown links until they are needed*/
.mobile-menu li ul {
	display: none;
}

/*Make dropdown links vertical*/
.mobile-menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.mobile-menu li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}


/*Style 'show menu' label button and hide it by default*/
.mobile-menu .show-menu {
	text-decoration: none;
	color: #fff;
	background: #8aa8bd;
	text-align: center;
	padding: 10px 15px;
	display: none;
  cursor: pointer;
  text-transform: uppercase;
}

.mobile-menu .show-menu span{
   padding-left: 35px;
}

/*Hide checkbox*/
.mobile-menu input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 800px){
  .mobile-menu .lines {
    border-bottom: 15px double #f8f8f8; 
    border-top: 5px solid #f8f8f8; 
    content:"";
    height: 5px; 
    width:20px;
    padding-right:15px;
  float: right;
}
	/*Make dropdown links appear inline*/
	.mobile-menu ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.mobile-menu li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.mobile-menu ul li, .mobile-menu li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.mobile-menu .show-menu {
		display:block;
	}
}



	
@media screen and (max-width:1920px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1920px;
	}
}

@media screen and (max-width:1800px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1800px;
	}
}

@media screen and (max-width:1700px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1700px;
	}
}

@media screen and (max-width:1600px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1600px;
	}
}

@media screen and (max-width:1500px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1500px;
	}
}

@media screen and (max-width:1400px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1400px;
	}
}
@media screen and (max-width:1300px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1300px;
	}
}

@media screen and (max-width:1200px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1200px;
	}
}

@media screen and (max-width:1100px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1100px;
	}
}

@media screen and (max-width:1000px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:1000px;
	}
}


@media screen and (max-width:900px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:900px;
	}
}

@media screen and (max-width:800px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:800px;
	}
}

@media screen and (max-width:700px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:700px;
	}
}
@media screen and (max-width:600px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:600px;
	}
}

@media screen and (max-width:500px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:500px;
	}
}

@media screen and (max-width:400px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:400px;
	}
}

@media screen and (max-width:300px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:300px;
	}
}


@media screen and (max-width:200px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:200px;
	}
}

@media screen and (max-width:100px){
	#Storbox{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	width:100px;
	}
}



/* Menyn försvinner då den lägger sig konstigt */
@media screen and (max-width: 1400px){
	.menu { display:none;}
	
	
}

@media screen and (max-width: 1921px) and (max-height: 1081px) {
    .menu { margin-top:-13.8%; margin-left:29%; }
	.PatriotsFramförGIF img{margin-top:-18.2%;}
	.HeaderNFL img{margin-top:-15.3%;}
	.HeaderPATRIOTS img{margin-top:-15%;} 
	
	
}
/* För skärmar med en upplösning på 1680x1050 (px) */
@media screen and (max-width: 1680px) and (max-height: 1050px) {
    .menu { margin-top:-15%; margin-left:26.5%; }
	.PatriotsFramförGIF img{margin-top:-19.8%;}
	.HeaderNFL img{margin-top:-16.65%;}
	.HeaderPATRIOTS img{margin-top:-16.3%;} 
	
	
}

/*  För skärmar med en upplösning på 1366x768 (px) */
@media screen and (max-width: 1366px) and (max-height: 768px) {
    .menu { margin-top:-13.5%; margin-left: 21%; }
	.PatriotsFramförGIF img{margin-top:-17%; width:50%;}
	.HeaderNFL img{margin-top:-14.3%;}
	.HeaderPATRIOTS img{margin-top:-14.5%;} 
	
	
}
/* För skärmar med en upplösning på 1280x1024 (px) */
@media only screen and (max-width: 1280px) and (max-height: 1024px) {
    .menu { margin-top: -19.5%; margin-left:18%;}
	.PatriotsFramförGIF img{margin-top:-25.3%;}
	.HeaderNFL img{margin-top:-22%;}
	.HeaderPATRIOTS img{margin-top:-16.3%;} 
	
	
}
/* För skärmar med en upplösning på 1280x800 (px) */
@media only screen and (max-width: 1280px) and (max-height: 800px) {
    .menu { margin-top: -14.9%; margin-left:18%;}
	.PatriotsFramförGIF img{margin-top:-19%;}
	.HeaderNFL img{margin-top:-16.15%;}
	.HeaderPATRIOTS img{margin-top:-16.3%;} 
	
	
}

/*  För skärmar med en upplösning på 1204x768 (px) (iPad portrait, old standard)  */
@media screen and (max-width: 1204px) and (max-height: 768px) {
    .menu { display:none;}
	.PatriotsFramförGIF img{margin-top:-22.8%;}
	.HeaderNFL img{margin-top:-19.2%;}
	.HeaderPATRIOTS img{margin-top:-19%; width:12%;} 
	
	
}
/*  För skärmar med en upplösning på 320x480 (px)(iPhone, some Android) */
@media screen and (max-width: 320px) and (max-height: 480px) {
    .menu { display:none; }
	.PatriotsFramförGIF img{margin-top:-42%;}
	.HeaderNFL img{margin-top:-35.5%;}
	.HeaderPATRIOTS img{margin-top:-31.5%;} 
	
	
}
/* För iPhone 6 skärmar med en upplösning på 375x667 (px) */
@media screen and (max-width: 375px) and (max-height: 667px) {
    .menu { display:none; }
	.PatriotsFramförGIF img{margin-top:-53.5%;}
	.HeaderNFL img{margin-top:-45%;}
	.HeaderPATRIOTS img{margin-top:-40%;} 
	
	
}
/* Menyn försvinner då den lägger sig konstigt */
@media screen and (max-width: 1066px){
	.menu { display:none;}
	
	
}

@media screen and (min-width: 1400px){
	.mobile-menu{ display:none;}
	
	
}

@media screen and (max-width: 667px){
	.mobile-menu{margin-top:-40%; height:3%;}
	
}














