@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	height:100%;
	margin:0%;
}

/* Clearing floats */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
    
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  
    
}

.menu,
.submenu1 {
  margin: 0;
  padding: 0;
  list-style: none;
    
}

.menu,
.submenu2 {
  margin: 0;
  padding: 0;
  list-style: none;
    
}

/* Main level */
.menu {			
  margin: 50px auto;
  width: 800px;
  /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin-top:-75px;
  margin-left:530px;
  z-index:3;
}

.menu > li {
  background: #34495e;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}		

.menu li:hover {
  background: #e74c3c;
}		

.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}


/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						

.submenu > li > a {
  padding: 1em 2em;			
}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Dropdown 2*/

.submenu1 {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu1 li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						

.submenu1 > li > a {
  padding: 1em 2em;			
}

.submenu1 > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}	

/* Dropdown 3 */

.submenu2 {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu2 li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						

.submenu2 > li > a {
  padding: 1em 2em;			
}

.submenu2 > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}	

/* Odd stuff 3 */

.submenu2 > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu2 > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu2 > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu2 > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu2 > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu2 > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}
	


/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* odd stuff 2 */

.submenu1 > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu1 > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu1 > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu1 > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu1 > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu1 > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}


/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;			
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

/* Show dropdown 2 */

.submenu1,
.submenu1 li {
  opacity: 0;
  visibility: hidden;			
}

.submenu1 li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu1,
.menu > li:hover .submenu1 li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu1 li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu1 li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

/* Show dropdown 3 */

.submenu2,
.submenu2 li {
  opacity: 0;
  visibility: hidden;			
}

.submenu2 li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu2,
.menu > li:hover .submenu2 li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu2 li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu2 li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

#Storbox{
	width:100%;
	height:4000px;
	position:absolute;
	background-image:url(bzXqLiM.jpg);
	background-size:100% 100%;	
	z-index:-3;

	
}
header{
	width:100%;
	height:30%;
}
.Huvudmeny img{
	width:100%;
	height:100px;
}

.HeaderNFL img{
	width:7%;
	height:2.5%;
	position:absolute;
	margin-left:90%;
	margin-top:-103px;
}

.HeaderPATRIOTS img{
	width:10%;
	height:8,5%;
	position:absolute;
	margin-left:20px;
	margin-top:-100px;
	font-size:10px;
}

article{
	width:100%;
	height:100%;


}

/*!
* Simple CSS3 Image Slideshow
* http://siamonh.com
*/

.contant{
	max-width: 960px;
	margin-top:-59%;
	margin-left:25%;
	position: relative;
	padding: 1% 0;
	overflow: hidden;
}h1{
  text-align: center; 
  
}

.intro{
	position: relative;
	width: 1000%;
	height: 500px;
	overflow: hidden;
	background: #f0f0f0;
	 -webkit-animation: slide 25s infinite alternate ease;
	        animation: slide 25s infinite alternate ease;
			z-index:-1;
}.img-contant{
	float:left;
	width: 960px;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	
	
	
}#photo-1{
	background-image:url(spelare.jpg);

}
#photo-2 {
  background-image:url(spelare1.jpg);
}
#photo-3{
	background-image:url(Spelare2.jpg);
}
#photo-4{
	background-image:url(Player4.jpg);
}
@-webkit-keyframes slide {
    0%   {margin-left: 0px;}
    25%  {margin-left: -960px;}
    50%  {margin-left: -1920px;}
    75%  {margin-left: -2880px;}
    100% {margin-left: 0px;}
}
@keyframes slide {
    0%   {margin-left: 0px;}
    25%  {margin-left: -960px;}
    50%  {margin-left: -1920px;}
    75%  {margin-left: -2900px;}
    100% {margin-left: 0px;}
}
/** Helper **/
.clear:before, .clear:after {
    content: " ";
    display: table
}

.clear:after {
    clear: both
}



	#table {
		display: table;
	 	width: 100%; 
	 	background:#D6D6D6;
	 	margin: 0;
	 	box-sizing: border-box;
		
		

	 }

	 .caption {
	 	display: block;
	 	width: 100%;
	 	background:#0D254C;
	 	height: 55px;
	 	padding-left: 10px;
	 	color: #fff;
	 	font-size: 20px;
	 	line-height: 55px;
	 	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	 	box-sizing: border-box;
		text-align:center;
		
		
	 }


	 .header-row {
	 	background: #8b8b8b;
	 	color:#C80815;
		
	 }

	.row {
		display: table-row;
		
		
	}

	.cell {
		display: table-cell;
		
		
		padding: 6px; 
		border-bottom: 1px solid #e5e5e5;
		text-align: center;
	}

	.primary {
		text-align: left;
		
	
	}


	input[type="radio"],
	input[type="checkbox"]{
		
		display: none;
		
	}


	@media only screen and (max-width: 760px)  {

		body {
			padding: 0;
		}

		#table {
			display: block;
			margin: 44px 0 0 0;
			
			
			
		}

		.caption {
			position: fixed;
			top: 0;
			text-align: center;
			height: 44px;
			line-height: 44px;
			z-index: 5;
			border-bottom: 2px solid #999;
	
			
		}

		.row { 
			position: relative;
			display: block;
			border-bottom: 1px solid #ccc; 
			
			

		}

		.header-row {
			display: none;
			
			
		}
		
		.cell { 
			display: block;

			border: none;
			position: relative;
			height: 45px;
			line-height: 45px;
			text-align: left;
			
		}

		.primary:after {
			content: "";
			display: block;
			position: absolute;
			right:20px;
			top:18px;
			z-index: 2;
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right:10px solid #ccc;

		}

		.cell:nth-of-type(n+2) { 
			display: none; 
		}


		input[type="radio"],
		input[type="checkbox"] {
			display: block;
			position: absolute;
			z-index: 1;
			width: 99%;
			height: 100%;
			opacity: 0;
		}
    
    input[type="radio"]:checked,
		input[type="checkbox"]:checked {
		  z-index: -1;
		}

		input[type="radio"]:checked ~ .cell,
		input[type="checkbox"]:checked ~ .cell {
			display: block;

			border-bottom: 1px solid #eee; 
		}

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2),
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2) {
			
			background: #e0e0e0;
		}

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2):before {
			content: attr(data-label);

			display: inline-block;
			width: 60px;
			background: #999;
			border-radius: 10px;
			height: 20px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			color: white;

		}

		input[type="radio"]:checked ~ .primary,
		input[type="checkbox"]:checked ~ .primary  {
			border-bottom: 2px solid #999;
		}

		input[type="radio"]:checked ~ .primary:after,
		input[type="checkbox"]:checked ~ .primary:after {
	 		position: absolute;
			right:18px;
			top:22px;
			border-right: 10px solid transparent;
			border-left: 10px solid transparent; 
			border-top:10px solid #ccc;
			z-index: 2;
		}
	}
	
	@media (max-width: 1450px) {
    .menu { display: none; }
}



@media (min-width: 1450px) {
    .dropdown button { display: none; }
}

@media (max-width: 1450px) {
    .contant{margin-left:13%; margin-top:-77%;}
}


	
