@charset "utf-8";
/* CSS Document */

html, body {
  height: 100%;
  margin: 0;
}
#box1{
	background-image:url(code.jpg);
	height:100%;
	width:100%;


}

article{
	display:block;
	
}



.Banner{
	background-color:brown;
	text-align:center;
		height:15%;
	
	width:100;
}

#Headbox{
	width:100%;
	height:25%;
	margin-top:0%;
	text-align:center;
	/* color:darkblue; */
}

.Infobox{
	text-align:center;
	margin-top:0%;
	background-color:aqua;
	
	
}

