@import url("https://fonts.googleapis.com/css?family=Lato");
body, html {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    position:absolute;
    top:0;
    left:0
}

.container {
  display: flex;
  height: 100vh;
  font-family: 'Lato', sans-serif;
 
}

.countdown {
  color: #fff;
  font-size: 3em;
  margin: auto;
  display: flex;
}
.countdown > * {
  position: relative;
  padding: 0 0.075em 0.3em;
}
.countdown > *::after {
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.25em;
}
.countdown > *:nth-child(1)::after {
  content: 'days';
}
.countdown > *:nth-child(2)::after {
  content: 'hours';
}
.countdown > *:nth-child(3)::after {
  content: 'minutes';
}
.countdown > *:nth-child(4)::after {
  content: 'seconds';
}
